body {
	background-color: SlateBlue;
}

h1 {
	color: Violet;
	margin: 50px;
	font-family: "Comic Sans MS", "Comic Sans", serif;
}

h2 {
	border-style: dashed;
	border-width: 2px;
	border-radius: 5px;
}
